name: Upload Otomatis ke Docker Hub

on:
  push:
    branches: [ "main" ]

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      # 1. Ambil kodingan
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. Login ke Docker Hub
      - name: Login ke Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Build & Push (Biarkan Dockerfile yang mengurus npm install & pip install)
      - name: Build dan Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: bimsrama/relasi4warna:latest
