name: Fullstack Build & Push

on:
  push:
    branches: [ "main" ]

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login ke Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 1. BUILD & PUSH BACKEND
      - name: Build Backend
        uses: docker/build-push-action@v5
        with:
          context: .
          file: infra/docker/Dockerfile.backend  # Pastikan file ini ada di repo Anda
          push: true
          tags: bimsrama/relasi4warna:backend

      # 2. BUILD & PUSH FRONTEND
      - name: Build Frontend
        uses: docker/build-push-action@v5
        with:
          context: .
          file: infra/docker/Dockerfile.frontend # Pastikan file ini ada di repo Anda
          push: true
          tags: bimsrama/relasi4warna:frontend
          # Masukkan URL Backend VPS Anda di sini agar frontend tahu mau nembak kemana
          build-args: |
            REACT_APP_BACKEND_URL=http://relasi4warna.com:8001
